 /* Estilos Gerais */
 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #ffffff;
    color: black;
    font-size: medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

** {
  color: white;
}

/* Estilo do Banner */
.banner {
    width: 100%;
  display: block;
}

.grid-2 {
    margin-left: 200px;
    margin-right: 200px;
   color:black;
   font-size: 1.1em;
   text-align: justify;
}

/* Estilo da Seção de Título */
.grid-1 {
    margin-top: 10px;
    text-align: center;
}

.grid-1 h1 {
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

nav{
    background: #F2F2EE;
    padding: 10px 40px 10px 70px;
    border-left: none;
    border-right: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li.logo{
    flex: 1;
    font-size: 30px;
    font-weight: 700;
    color: black;
}

nav ul main.items{
    margin-right: 20px;
    padding: 0 25px;
    display: inline-flex;
}

nav ul main.items a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 15px;
    color: #000;
    transition: all .2s;
}

nav ul main.items a:hover{
    background-color: white;
    color: black;
}

nav ul .search-icon{
    height: 40px;
    width: 240px;
    display: flex;
    background: #D9D9D9;
    border-radius: 5px;
}

nav ul .search-icon input{
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

nav ul .search-icon:hover{
    background: #e6e6e6;
}

nav ul .search-icon .icon span{
    color: #222;
    font-size: 18px;
}

nav ul li.btn{
    display: none;
}